<!--  (at) IEnumerable<EventModels>-->
@{
    ViewBag.Title = "Events";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Events</title>
</head>
<body>
    <div>

        Event 1<br />
        Event 2<br />
        Event 3<br />
        Event 4<br />

        need to get the (at) model razor working so that the repository data can be shown
    </div>
</body>
</html>

<!--


(at) foreach (var p in Model)
{
    < div >
    (at) p.Company
    (at) p.NonProfit
    (at) p.EventName
    (at) p.EventId
    (at) p.EventDescription
    (at) p.
    </ div >
}
    -->
