@model IEnumerable<EventRegistrationSystem.Models.EventModels>

@{
    ViewBag.Title = "Events";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Events</title>
</head>
<body>
    <div>

        Event 1<br />
        Event 2<br />
        Event 3<br />
        Event 4<br />

        <br /> The foreach throws a NullReferenceException -- need to resolve this error but Daniel believes this may be fixed by 
        adding Ninject   
    </div>
</body>
</html>




 <!-- at foreach (var p in Model)
{
   <!-- < div >
    at p.Company
    at p.NonProfit
    at p.EventName
    at p.EventID
    at p.EventDescription
    at p.EventDate
    at p.EventTime
    </ div >
     -->

     
         
<!--
         
         at foreach (var item in Model)
    {
        at Html.DisplayFor(modelItem => item.Company)
        at Html.DisplayFor(modelItem => item.NonProfit)
        at Html.DisplayFor(modelItem => item.EventName)

    }
        
} 
   -->
