@{
    ViewBag.Title = "Report Generation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Report Generation Dashboard
</h2>

<h4>
    Select Date Range
</h4>

<!-- Select Date Range using Datepicker jQueryUI plugin -->
<label for="from">From</label>
<input type="text" id="from" name="from">
<label for="to">to</label>
<input type="text" id="to" name="to">

<!-- Select Report Type-->
<h4>
    Select Report Type
</h4>

<form name="reportDashboardForm" action="" onsubmit="return submitForm()" method="post">
    <div id="payment-form">
        <fieldset class="payment-selection">

            <div class="form-check">
                <input type="radio" class="form-check-input" id="reportType1" value="reportType1" name="reportType" onclick="updateReportDashboard(this);">
                <label class="form-check-label" for="materialUnchecked">Overall hours volunteered at each non-profit</label>
            </div>

            <div class="form-check">
                <input type="radio" class="form-check-input" id="reportType2" value="reportType2" name="reportType" onclick="updateReportDashboard(this);">
                <label class="form-check-label" for="materialUnchecked">Hours volunteered by each employee at each non-profit</label>
            </div>

            <div class="form-check">
                <input type="radio" class="form-check-input" id="reportType3" value="reportType3" name="reportType" onclick="updateReportDashboard(this);">
                <label class="form-check-label" for="materialUnchecked">Overall hours volunteered by each employee</label>
            </div>

            <div class="form-check">
                <input type="radio" class="form-check-input" id="reportType4" value="reportType4" name="reportType" onclick="updateReportDashboard(this);">
                <label class="form-check-label" for="materialUnchecked">Hours volunteered by each company at each non-profit</label>
            </div>

            <div class="form-check">
                <input type="radio" class="form-check-input" id="reportType5" value="reportType5" name="reportType" onclick="updateReportDashboard(this);">
                <label class="form-check-label" for="materialUnchecked">Overall hours volunteered by each company</label>
            </div>

            <div class="form-check">
                <input type="radio" class="form-check-input" id="reportType6" value="reportType6" name="reportType" onclick="updateReportDashboard(this);">
                <label class="form-check-label" for="materialUnchecked">Event attendance/registration related reports</label>
            </div>

        </fieldset>
    </div>

    <hr />

    <div id="reportType1Div" class="jumbotron" style="display: none;">
        <p>More options for "Overall hours volunteered at each non-profit" report </p>
    </div>

    <div id="reportType2Div" class="jumbotron" style="display: none;">
        <p>More options for "Hours volunteered by each employee at each non-profit" report </p>
    </div>

    <div id="reportType3Div" class="jumbotron" style="display: none;">
        <p>More options for "Overall hours volunteered by each employee</p>
    </div>

    <div id="reportType4Div" class="jumbotron" style="display: none;">
        <p>More options for "Hours volunteered by each company at each non-profit" report</p>
    </div>

    <div id="reportType5Div" class="jumbotron" style="display: none;">
        <p>More options for "Overall hours volunteered by each company" report</p>
    </div>

    <div id="reportType6Div" class="jumbotron" style="display: none;">
        <p>More options for "Event attendance/registration related reports" report </p>
    </div>

    <input type="submit" class="btn btn-primary btn-lg" value="Generate Report">

</form>

<hr />

<!-- This is a placeholder for the generated report (Code from "Dashboard" Bootstrap theme) -->
<div id="report-view" style="display: none;">
    <h2>Report</h2>
    <div class="table-responsive" id="generated-report">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Header</th>
                    <th>Header</th>
                    <th>Header</th>
                    <th>Header</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1,001</td>
                    <td>Lorem</td>
                    <td>ipsum</td>
                    <td>dolor</td>
                    <td>sit</td>
                </tr>
                <tr>
                    <td>1,002</td>
                    <td>amet</td>
                    <td>consectetur</td>
                    <td>adipiscing</td>
                    <td>elit</td>
                </tr>
                <tr>
                    <td>1,003</td>
                    <td>Integer</td>
                    <td>nec</td>
                    <td>odio</td>
                    <td>Praesent</td>
                </tr>
                <tr>
                    <td>1,003</td>
                    <td>libero</td>
                    <td>Sed</td>
                    <td>cursus</td>
                    <td>ante</td>
                </tr>
                <tr>
                    <td>1,004</td>
                    <td>dapibus</td>
                    <td>diam</td>
                    <td>Sed</td>
                    <td>nisi</td>
                </tr>
                <tr>
                    <td>1,005</td>
                    <td>Nulla</td>
                    <td>quis</td>
                    <td>sem</td>
                    <td>at</td>
                </tr>
                <tr>
                    <td>1,006</td>
                    <td>nibh</td>
                    <td>elementum</td>
                    <td>imperdiet</td>
                    <td>Duis</td>
                </tr>
                <tr>
                    <td>1,007</td>
                    <td>sagittis</td>
                    <td>ipsum</td>
                    <td>Praesent</td>
                    <td>mauris</td>
                </tr>
                <tr>
                    <td>1,008</td>
                    <td>Fusce</td>
                    <td>nec</td>
                    <td>tellus</td>
                    <td>sed</td>
                </tr>
                <tr>
                    <td>1,009</td>
                    <td>augue</td>
                    <td>semper</td>
                    <td>porta</td>
                    <td>Mauris</td>
                </tr>
                <tr>
                    <td>1,010</td>
                    <td>massa</td>
                    <td>Vestibulum</td>
                    <td>lacinia</td>
                    <td>arcu</td>
                </tr>
                <tr>
                    <td>1,011</td>
                    <td>eget</td>
                    <td>nulla</td>
                    <td>Class</td>
                    <td>aptent</td>
                </tr>
                <tr>
                    <td>1,012</td>
                    <td>taciti</td>
                    <td>sociosqu</td>
                    <td>ad</td>
                    <td>litora</td>
                </tr>
                <tr>
                    <td>1,013</td>
                    <td>torquent</td>
                    <td>per</td>
                    <td>conubia</td>
                    <td>nostra</td>
                </tr>
                <tr>
                    <td>1,014</td>
                    <td>per</td>
                    <td>inceptos</td>
                    <td>himenaeos</td>
                    <td>Curabitur</td>
                </tr>
                <tr>
                    <td>1,015</td>
                    <td>sodales</td>
                    <td>ligula</td>
                    <td>in</td>
                    <td>libero</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr />

    <button type="button" class="btn btn-secondary btn-lg">Download Report</button>

</div>



