@{
    ViewBag.Title = "Report Generation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Report Generation Dashboard
</h2>

<h4>
    Select Date Range
</h4>

<!-- Select Date Range using Datepicker jQueryUI plugin -->
<label for="from">From</label>
<input type="text" id="from" name="from">
<label for="to">to</label>
<input type="text" id="to" name="to">

<!-- Select Report Type-->
<h4>
    Select Report Type
</h4>
<!-- Material unchecked -->
<div class="form-check">
    <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios">
    <label class="form-check-label" for="materialUnchecked">Overall hours volunteered at each non-profit</label>
</div>

<!-- Material unchecked -->
<div class="form-check">
    <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios">
    <label class="form-check-label" for="materialUnchecked">Hours volunteered by each employee at each non-profit</label>
</div>

<!-- Material unchecked -->
<div class="form-check">
    <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios">
    <label class="form-check-label" for="materialUnchecked">Overall hours volunteered by each employee</label>
</div>

<!-- Material unchecked -->
<div class="form-check">
    <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios">
    <label class="form-check-label" for="materialUnchecked">Hours volunteered by each company at each non-profit</label>
</div>

<!-- Material unchecked -->
<div class="form-check">
    <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios">
    <label class="form-check-label" for="materialUnchecked">Overall hours volunteered by each company</label>
</div>

<!-- Material unchecked -->
<div class="form-check">
    <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios">
    <label class="form-check-label" for="materialUnchecked">Event attendance/registration related reports</label>
</div>

<hr />
<span> The corresponding partial for the selected report type renders here</span>
<hr />

<button type="button" class="btn btn-primary btn-lg">Generate Report</button>

<hr />

<button type="button" class="btn btn-secondary btn-lg">Download Report</button>









