@* @model System.Collections.Generic.List<EventRegistrationSystem.Models.Company> *@
@model IEnumerable<EventRegistrationSystem.Controllers.RegistrationController.CompanyAndContracts>

@{
    ViewBag.Title = "Register Links";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>
<div class="container">

    @foreach (var companyAndItsContracts in Model)
    {
        <div class="panel panel-default">

            <div class="panel-title">
                @companyAndItsContracts.Company.Name
            </div>

            @if (!companyAndItsContracts.HasActiveContract)
            {
                <div>No active contracts! Please create one</div>
            }
            else
            {
                <span>
                    www.DayOfDifference.azurewebsites.net/Account/Register?contractToken=@companyAndItsContracts.CurrentContract.ContractToken
                </span>
            }
        </div>
    }
</div>