@model EventRegistrationSystem.Models.VolunteerEvent

@{
    ViewBag.Title = "Event Registration Confirmed";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        You have successfully registered for this event.
    </p>
</div>


